<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @box, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "名前" %>
      <%= form.text_field :image, placeholder: "Image Url" %>
      <%= form.text_field :age, placeholder: "年齢" %>
      <%= form.text_field :height, placeholder:"身長" %>
      <%= form.text_field :rank,placeholder:"階級"%>
      <%= form.text_field :battle_record,placeholder:"戦績"%>
      <%= form.text_field :boxing_gym,placeholder:"ボクシングジム"%>
      <%= form.submit "投稿" %>
    <% end %>
  </div>
</div>